html, body {
    font-family: arial;
}

fieldset {
    width: 300px;
}

fieldset.bd2 .copiarChaves {
    float: right;
    padding: 10px;
    font-size: 11px;
    font-weight: bold;
    color: blue;
    cursor: pointer;
}

fieldset.bd2 .copiarChaves:hover {
    text-decoration: underline;
}

.card-custom {
    width: 400px;
}

.btn-container {
    padding: 10px 0 0 0;
}

.btn-container button {
    margin: 0 2px 0 2px;
}

.send-button {
    width: 400px;
}

.alert {
    width: 100%;
}

.content {
    width: 800px;
    margin: auto;
    text-align: center;
    align-content: center;
}

.content form {
    display: inline-block;
}